[submodule "microservice-ticketing-common"]
	path = packages/common
	url = https://github.com/chaptone/microservice-ticketing-common.git
[submodule "microservice-ticketing-tickets"]
	path = services/tickets
	url = https://github.com/chaptone/microservice-ticketing-tickets.git
[submodule "microservice-ticketing-client"]
	path = services/client
	url = https://github.com/chaptone/microservice-ticketing-client.git
[submodule "microservice-ticketing-auth"]
	path = services/auth
	url = https://github.com/chaptone/microservice-ticketing-auth.git
[submodule "microservice-ticketing-expiration"]
	path = services/expiration
	url = https://github.com/chaptone/microservice-ticketing-expiration.git
[submodule "microservice-ticketing-orders"]
	path = services/orders
	url = https://github.com/chaptone/microservice-ticketing-orders.git
[submodule "microservice-ticketing-payments"]
	path = services/payments
	url = https://github.com/chaptone/microservice-ticketing-payments.git
[submodule "microservice-ticketing-infra"]
	path = packages/infra
	url = https://github.com/chaptone/microservice-ticketing-infra.git
