[submodule "packages/common"]
	path = packages/common
	url = https://github.com/chaptone/microservice-ticketing-common.git
[submodule "services/tickets"]
	path = services/tickets
	url = https://github.com/chaptone/microservice-ticketing-tickets.git
[submodule "services/orders"]
	path = services/orders
	url = https://github.com/chaptone/microservice-ticketing-orders.git
[submodule "services/expiration"]
	path = services/expiration
	url = https://github.com/chaptone/microservice-ticketing-expiration.git
[submodule "services/auth"]
	path = services/auth
	url = https://github.com/chaptone/microservice-ticketing-auth.git
[submodule "infra"]
	path = infra
	url = https://github.com/chaptone/microservice-ticketing-infra.git
[submodule "client"]
	path = client
	url = https://github.com/chaptone/microservice-ticketing-client.git
